.home {
  background-color: white;
}

.center {
  width: max-content;
  padding: 10px;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.center_info :hover {
  background-color: #98e1f3;
  border-radius: 5px;
}

.centerName {
  color: #0039cb;
  font-weight: 1000;
}

.facilityName {
  color: black;
  display: flex;
  justify-content: flex-start;
  font-size: 13px;
}

.customoverlay {
  position: relative;
  top: -53px;
  text-align: center;
  vertical-align: bottom;
  font-size: 13px;
  background-color: white;
  font-weight: 600;
  border: 1px solid rgb(77, 75, 75);
  border-radius: 10px;
  padding: 3px;
}

#map {
  position: absolute;
  top: 130px;
  left: 400px;
  margin: 10px;
  width: 940px;
  height: 75vh;
}

@media (max-width: 1000px) {
  /*페이지 크기가 600이하일 경우 반응*/
  #map {
    top: 180px;
    height: 68vh;
  }
}

@media (max-width: 650px) {
  /*페이지 크기가 600이하일 경우 반응*/
  #map {
    top: 400px;
    left: 3px;
    height: 68vh;
    width: 95%;
    margin-top: 10px;
  }
}
